<h2 style="margin-bottom: 20px;">Todos</h2>

<form [formGroup]="form" style="margin-bottom: 30px;">

  <div class="modal-body" style="padding: 0px;">

    <ng-template #customItemTemplate let-model="item" let-index="index">
      <p>{{model.first_name}} {{model.last_name}}</p>
    </ng-template>

    <div class="form-group">
      <label for="assignee">Assignee</label>
      <input type="text" class="form-control" id="assignee" name="assignee" formControlName="assignee" required [typeahead]="users"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" #searchBox (keyup)="search(searchBox.value)" autocomplete="off"
        (typeaheadOnSelect)="onAssigneeSelect($event)" [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="name"
        (input)="onAssigneeChange($event.target.value)">
    </div>

    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input type="text" class="form-control" id="deadline" required formControlName="deadline" name="deadline" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        (bsValueChange)="onDeadlineChange($event)">
    </div>

  </div>

</form>

<table *ngIf="todos && todos.length > 0" class="table">
  <thead>
    <tr>
      <!-- <th scope="col" style="vertical-align: middle;">ID</th> -->
      <th scope="col" style="vertical-align: middle; width: 40%;">Name</th>
      <th scope="col" style="vertical-align: middle; width: 20%;">Assignee</th>
      <th scope="col" style="vertical-align: middle; width: 20%;">Deadline</th>
      <th scope="col" style="vertical-align: middle; width: 20%;"></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-todo [ngForOf]="todos">
      <tr>
        <!-- <td style="vertical-align: middle;">{{todo.id}}</td> -->
        <td style="vertical-align: middle;">{{todo.name}}</td>
        <td style="vertical-align: middle;">{{todo.assigned_to.first_name + ' ' + todo.assigned_to.last_name}}</td>
        <td style="vertical-align: middle;">{{todo.deadline_date | date:'yyyy-MM-dd' }}</td>
        <td style="vertical-align: middle;">
          <div class="pull-right">
            <button type="button" class="btn btn-outline-secondary" (click)="editTodo(todo.id)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="deleteTodo(todo.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>

<p *ngIf="todos && todos.length == 0">No todos</p>

<button (click)="createTodo()" type="button" class="btn btn-primary" style="margin: 25px; padding: 0px; position: fixed; right: 0px; bottom: 0px; height: 56px; width: 56px; border-radius: 50%;">
  <div>
    <svg viewBox="0 0 24 24" style="display: inline-block; color: white; fill: white; height: 56px; width: 24px; user-select: none; line-height: 56px;">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
    </svg>
  </div>
</button>

<router-outlet (deactivate)="refresh($event)"></router-outlet>