<form [formGroup]="form" (ngSubmit)="submit()" #todoForm="ngForm">

  <div class="modal-body">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required formControlName="name" name="name">
      <div [hidden]="form.get('name').valid || form.get('name').pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <ng-template #customItemTemplate let-model="item" let-index="index">
      <p>{{model.first_name}} {{model.last_name}}</p>
    </ng-template>

    <div class="form-group">
      <label for="assignee">Assignee</label>
      <input type="text" class="form-control" id="assignee" name="assignee" formControlName="assignee" required [typeahead]="users"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" #searchBox (keyup)="search(searchBox.value)" autocomplete="off"
        (typeaheadOnSelect)="onAssigneeSelect($event)" [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="name"
        (input)="onAssigneeChange($event.target.value)">
      <div [hidden]="form.get('assignee').valid || form.get('assignee').pristine" class="alert alert-danger">
        Assignee is required
      </div>
    </div>

    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input type="text" class="form-control" id="deadline" required formControlName="deadline" name="deadline" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      <div [hidden]="form.get('deadline').valid || form.get('deadline').pristine" class="alert alert-danger">
        Deadline is required
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="!todoForm.form.valid || !assignee">Create</button>
  </div>

</form>