<form [formGroup]="form" (ngSubmit)="submit()" #userForm="ngForm">

  <div class="modal-body">

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" required formControlName="first_name" name="firstName">
      <div [hidden]="form.get('first_name').valid || form.get('first_name').pristine" class="alert alert-danger">
        First name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" required formControlName="last_name" name="lastName">
      <div [hidden]="form.get('last_name').valid || form.get('last_name').pristine" class="alert alert-danger">
        Last name is required
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" required formControlName="email" name="email" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
      <div [hidden]="form.get('email').valid || form.get('email').pristine" class="alert alert-danger">
        E-mail is required
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <div class="btn-group" btnRadioGroup formControlName="gender">
        <label class="btn btn-primary" btnRadio="M" style="margin: 0px;">M</label>
        <label class="btn btn-primary" btnRadio="F" style="margin: 0px;">F</label>
      </div>
      <div [hidden]="form.get('gender').valid || form.get('gender').pristine" class="alert alert-danger">
        Gender is required
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
  </div>

</form>