<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 30px">
  <a class="navbar-brand" href="javascript:void(0)">SmartCompTodo</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/todos" routerLinkActive="active">Todos</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
