<form (ngSubmit)="submit()" #todoForm="ngForm">

  <div class="modal-body">
    <p>Delete todo?</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>

</form>