<div bsModal #todoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title pull-left">Create todo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>

      <app-todo-create-form (created)="hide()" (closed)="hide()"></app-todo-create-form>

    </div>
  </div>

</div>