<h2 style="margin-bottom: 20px;">Users</h2>

<table *ngIf="users && users.length > 0" class="table">
  <thead>
    <tr>
      <!-- <th scope="col" style="vertical-align: middle;">ID</th> -->
      <th scope="col" style="vertical-align: middle;">First name</th>
      <th scope="col" style="vertical-align: middle;">Last name</th>
      <th scope="col" style="vertical-align: middle;">E-mail name</th>
      <th scope="col" style="vertical-align: middle;">Gender</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-user [ngForOf]="users">
      <tr>
        <!-- <td style="vertical-align: middle;">{{user.id}}</td> -->
        <td style="vertical-align: middle; width: 25%;">{{user.first_name}}</td>
        <td style="vertical-align: middle; width: 25%;">{{user.last_name}}</td>
        <td style="vertical-align: middle; width: 30%;">{{user.email}}</td>
        <td style="vertical-align: middle; width: 20%;">{{user.gender}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>

<p *ngIf="users && users.length == 0">No users</p>

<button (click)="createUser()" type="button" class="btn btn-primary" style="margin: 25px; padding: 0px; position: fixed; right: 0px; bottom: 0px; height: 56px; width: 56px; border-radius: 50%;">
  <div>
    <svg viewBox="0 0 24 24" style="display: inline-block; color: white; fill: white; height: 56px; width: 24px; user-select: none; line-height: 56px;">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
    </svg>
  </div>
</button>

<router-outlet (deactivate)="refresh($event)"></router-outlet>